@CHARSET "ISO-8859-1";
/* added for paging..
*/
#container {
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px;
	border-radius: 5px; /*optional*/
	color: #aaa;
	font-size: .875em;
}

.pagination {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.page {
	display: inline-block;
	padding: 0px 5px;
	margin-right: 4px;
	margin-left: 4px;
	border-radius: 10px;
	border: solid 1px #c0c0c0;
	background: #eaeaea;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px
		rgba(0, 0, 0, .1);
	/* font-size: .875em; 
    font-weight: bold; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
	color: navy;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.page:hover, .page.gradient:hover {
	background: #fefefe;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE),
		to(#f0f0f0));
	background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}

.page.active {
	border: none;
	background: #616161;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .8);
	color: #f0f0f0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
	display: inline-block;
}

.page.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8),
		to(#eaeaea));
	background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #eaeaeq);
}

.pagination.dark {
	background: #414449;
	color: #feffff;
}

.page span {
	display: inline;
}

.page.dark {
	border: solid 1px #32373b;
	background: #3e4347;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px
		rgba(0, 0, 0, .1);
	color: #feffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
	background: #3d4f5d;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085),
		to(#3d4f5d));
	background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
}

.page.dark.active {
	border: none;
	background: #2f3237;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px
		rgba(255, 255, 255, .1);
}

.page.dark.gradient {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f),
		to(#3e4347));
	background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
}

